@import 'src/styles';

::ng-deep {
  .mat-raised-button.mat-primary.mat-button-disabled,
  .mat-raised-button.mat-button-disabled,
  .mat-primary:disabled {
    background-color: $primary!important;
    opacity: .7;
    cursor: not-allowed;
  }
}

.submit-btn.submit-btn {
  width: 100%;
  color: $white-color;

  &.hover,
  &:hover:not(:disabled) {
    opacity: .8;
  }

  &.press {
    position: relative;
    &:disabled {
      color: $white-color!important;

      ::ng-deep .mat-button-wrapper::after {
        content: '';
        width: 5px;
        position: absolute;
        text-align: left;
        animation: animate-dots ease-in-out infinite 1.5s;
      }
    }
  }
}

@keyframes animate-dots {
  0% {
    content: '.';
  }
  50% {
    content: '..';
  }
  100% {
    content: '...';
  }
}
