<section class="uploader">
  <div class="upload-image">
    <img
      *ngIf="selectedFileSrc"
      [src]="selectedFileSrc"
      alt="loaded-image"
    >
    <img
      *ngIf="!selectedFileSrc"
      src="../../../../assets/placeholders/avatar.placeholder.jpeg"
      alt="placeholder-image"
    >
    <button
      *ngIf="selectedFile"
      (click)="file.click()"
      class="upload-small-btn"
      mat-icon-button
    >
      <animate-icon
        iconName="edit"
        color="light"
      ></animate-icon>
    </button>
  </div>
  <input
    #file
    (change)="fileChanged($event)"
    type="file"
    accept="image/*"
    hidden
  >
  <submit-button
    *ngIf="!selectedFile"
    value="UPLOAD"
    (click)="file.click()"
  ></submit-button>
</section>
