@import 'varaibles';
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &::ng-deep {
    .mat-form-field {
      width: 100%;
      min-width: 227px;

      & .datepicker-field:disabled,
      & input::placeholder {
        color: $white-color;
      }
    }

    .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
      width: 1.5rem;
      color: $white-color;
      margin-bottom: 5px;
    }

    .mat-form-field-label {
      color: $white-color;
    }

    .mat-form-field-underline {
      background-color: $white-color;
    }

    .mat-checkbox-frame {
      border-color: $white-color;
    }

    .mat-chip {
      padding: .5rem 1rem;
      border-radius: 20px;
      cursor: pointer;
    }
  }

  .actions {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
  }
}

::ng-deep {
  .mat-radio-group {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  .mat-radio-outer-circle {
    border-color: $white-color;
  }
}

.btn {
  min-width: 125px;
}


.form-wrapper {
  max-width: 650px;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .5rem 1.5rem;

  .entity-field {
    flex: 1 1 100%;
    max-width: 300px;
    width: 100%;
    height: max-content;

    &.full-width {
      max-width: 100%;
    }
  }

  .form-title {
    flex: 1 1 100%;
    width: 100%;
    height: max-content;
    margin-bottom: 0;

    font-size: 20px;
  }
}

.form-actions {
  margin-top: 1rem;
  justify-content: flex-end;
}
