@import "varaibles";

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;

  .active-indicator {
    transition: $transition;
    position: absolute;

    width: 2px;
    height: 100%;
    border-radius: 2px;

    background-color: $white-color;
  }
}

.additional-pages {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .link {
    color: $warn;
  }
}

.active {
  .entity-with-icon {
    opacity: 1;
  }
}
