$primary: #6f82e6; // rgb(111, 130, 230, 1);
$accent: #141314; // rgba(20, 19, 20, 1);
$warn: #ff6c60; // rgba(255, 108, 96, 1);

$white-color: rgb(255, 255, 255);
$grey-color: rgba(144, 142, 142, 0.7);
$black-color: #000000;
$orange-color: #ea831b;
$yellow-color: #ffff27;
$green-color: #84e084;

$background-color: #ece6e6;
$header-color: $primary;

$primary-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
$transition: .4s ease-in-out;

$invalid: $warn;
$low: $orange-color;
$medium: $yellow-color;
$strong: $green-color;

$colors: (
  "light": $white-color,
  "dark": $black-color,
  "primary": $primary,
  "accent": $accent,
  "warn": $warn,
  "invalid": $invalid,
  "low": $low,
  "medium": $medium,
  "strong": $strong,
);
