<main class="auth-main">
  <img
    alt="background"
    class="background"
    [src]="backgroundImage"
    (load)="loadedData($event)"
  >
  <div class="tabs" *ngIf="!isLoading; else loader">
    <div class="auth-name">
      <div class="icon-bg">
        <mat-icon>supervisor_account</mat-icon>
      </div>
      <h1>Auth App</h1>
    </div>
    <mat-tab-group [selectedIndex]="0">
      <mat-tab label="Login">
        <auth-login></auth-login>
      </mat-tab>
      <mat-tab label="Sign up">
        <auth-sign-up></auth-sign-up>
      </mat-tab>
    </mat-tab-group>
  </div>
</main>

<ng-template #loader>
  <div class="loader-wrapper">
    <mat-spinner
      diameter="60"
      color="accent"
    ></mat-spinner>
  </div>
</ng-template>
