@import 'src/styles';

.auth-main {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $primary;

  & .tabs {
    width: 410px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 375px;
    background-color: rgba($black-color, .7);

    padding: 1.5rem 0;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &::ng-deep {
      .mat-tab-header {
        border: none;
      }

      .mat-tab-label {
        color: $white-color;
        opacity: .7;
      }

      .mat-tab-label-active {
        border-radius: 10px 10px 0 0;
        opacity: 1;
        color: $primary;
      }

      mat-ink-bar {
        background-color: $primary;
      }

      .mat-tab-body-wrapper {
        min-height: 300px;
        padding: 1rem 0;
        color: $white-color;
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

.auth-name {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: $white-color;
}

.icon-bg {
  background-color: $black-color;
  border-radius: 100%;
  min-width: 32px;
  min-height: 32px;
  padding: 1rem;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: $black-color;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: $black-color;
  width: 100%;
  height: 100%;
}
