@import 'src/styles/varaibles';

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: .5rem 0;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: rgba($primary, .4);
  cursor: pointer;

  &.active {
    background-color: rgba($primary, .8);
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.slider {
  overflow: hidden;
  min-height: 200px;
  height: auto;
  position: relative;
  margin: .5rem 0;
}

.slider-wrapper {
  position: absolute;
  top: 0;

  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  transition: .4s ease-in-out;

  ::ng-deep {
    step {
      flex: 1 0 100%;
    }
  }
}
