@import 'src/styles';

.password {
  flex: 1;

  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;

  &-strength {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border-radius: 100%;
    border: solid 1px transparent;
    transition: $transition;

    display: flex;
    align-items: center;
    justify-content: center;

    &.invalid {
      border-top-color: $warn;
    }

    &.low {
      border-top-color: $low;
      border-right-color: $low;
    }

    &.medium {
      border-top-color: $medium;
      border-right-color: $medium;
      border-bottom-color: $medium;
    }

    &.strong {
      border-color: $strong;
    }
  }
}
