<div class="password">
  <mat-form-field color="primary" [formGroup]="formGroup">
    <mat-label>{{ label }}</mat-label>
    <input matInput [type]="type" [formControlName]="passwordAlias" />
    <button
      mat-icon-button matSuffix
      (click)="toggleVisibility()"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
      type="button"
    >
      <mat-icon>{{ icon }}</mat-icon>
    </button>
  </mat-form-field>
  <span [ngClass]="['password-strength', strengthPasswordClass]" *ngIf="strengthPasswordOption && withStrengthChecking">
    <animate-icon
      iconName="bender-helper"
      [color]="colorForStrengthIcon"
      [withStroke]="true"
    ></animate-icon>
  </span>
</div>
