<div class="phone" [formGroup]="formGroup">
  <mat-form-field [color]="color" class="code-country" floatLabel="always">
    <mat-label>Code</mat-label>
    <input matInput [formControlName]="codeCountryAlias" [readonly]="readonly" type="text" placeholder="+XXX" />
  </mat-form-field>
  <mat-form-field [color]="color" floatLabel="always">
    <mat-label>Phone</mat-label>
    <input matInput [formControlName]="phoneNumberAlias" [readonly]="readonly" type="text" placeholder="XX-XXX-XX-XX" />
  </mat-form-field>
</div>
