<header>
  <h1>Home Page</h1>
  <button mat-icon-button (click)="logout()">
    <animate-icon
      iconName="logout"
      color="light"
    ></animate-icon>
  </button>
</header>
<div class="home-page">
  <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ex excepturi ipsum molestiae quo reprehenderit veritatis. Adipisci aliquid commodi cumque cupiditate distinctio eveniet fugiat incidunt quibusdam voluptate voluptatibus? A, veniam.</span></p>
</div>
